<div class="navbar navbar-inverse navbar-fixed-top">
	<h2>Dice Game</h2>
</div>

<p>
	<img class='dice' src='<%= @diceURL+@dice.first.to_s+".png" %>'>
	<img class='dice' src='<%= @diceURL+@dice.last.to_s+".png" %>'>
</p>

<h3>You rolled a <%= @sum %></h3>

<p>
	You won!<br><br>
	<button type="button" class="btn btn-default">
		<a href="dice">Start Over</a>
	</button>
</p>